dj-database-url==0.4.1
Django==5.1.6
django-crispy-forms==1.14.0
djangorestframework==3.14.0
djangorestframework-filters==1.0.0.dev0
drfdocs==0.0.11
gunicorn==20.1.0
hashids==1.3.1
psycopg2-binary==2.9.3
whitenoise==6.4.0
django-cors-headers==3.14.0
